form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 320px;
}

p {
  text-align: center;
}

input[type="button"],
input[type="submit"] {
  cursor: pointer;
  background-color: black;
  color: white;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: rgb(237, 237, 237);
  color: black;
}

#password {
  margin-bottom: 32px;
}
